*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.junie
/.lighthouseci
/.mcp.json
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/boost.json
/bootstrap/ssr
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/storage/*.key
/storage/pail
/tests/Browser/Screenshots
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
_ide_helper.php
