includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 10
    paths:
        - app/
        - bootstrap/
        - config/
        - database/
        - routes/
    excludePaths:
        - bootstrap/cache/
